.h3{style: "Avenir Next Regular; font-size: 1.2em; text-align: right; padding: 20px"}
  =link_to "github", "https://github.com/jbmoutout/francecul"

.div{style: "display:flex; justify-content: center; padding-top: 30px"}
  .div

    .h1{style: "font-family: Avenir Next Bold; font-size: 4em; "}
      Les pieds sur terre
    .div{style: "display:flex; justify-content: space-between"}
      .h3{style: "Avenir Next Regular; font-size: 2em;"}
        francecul.
        =image_tag "parrot.gif", width:'10%'

    .div{style: "padding-top: 20px"}
      .p{style: "Avenir Next Regular; font-size: 1.2em;"} Tous les jours, une demi-heure de reportage sans commentaire.
      .p{style: "Avenir Next Regular; font-size: 1.2em;"} Par Sonia Kronlund
      .p{style: "font-weight: 800"}
        =@emissions.count
        emissions
