.h3{style: "Avenir Next Regular; font-size: 1.2em; text-align: right; padding: 10px 20px 0px 20px"}
  =link_to "github", "https://github.com/jbmoutout/francecul"

.div{style: "display:flex; justify-content: center;"}
  .div{style: "width: 75vw;"}

    .h1{style: "font-family: Avenir Next Bold; font-size: 4em; "}
      Les pieds sur terre
    .div{style: "display:flex; justify-content: space-between"}
      .h3{style: "Avenir Next Regular; font-size: 2em;"}
        francecul.
        =render "modal"
        -# =image_tag "parrot.gif", width:'10%', style: "padding-bottom: 17px;"

    .div
      .p{style: "Avenir Next Regular; font-size: 1.2em;"} Tous les jours, une demi-heure de reportage sans commentaire.
      .p{style: "Avenir Next Regular; font-size: 1.2em;"} Par Sonia Kronlund
      .p{style: "font-weight: 800"}
        =@emissions.count
        emissions
      .p.mtop2{style: "font-weight: 800; padding-top: 20px"}Dernière:
      =link_to @last.link do
        .div{style: "padding: 10px; border-radius: 4px; box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);"}
          .h4.cool_party{style: "font-family: Avenir Next Bold"}=@last.title
          .p{style: "font-family: Avenir Next Bold;"}
            =@last.date.strftime("%d %b. %Y")
          .p{style: "font-family: Avenir Next Regular; font-weight: 300; font-size: 1.2em"}=@last.description
