=render "header"

.div{style: "display:flex; justify-content: center; padding-top: 40px"}
  .div.cul{style: "flex:1"}
    =link_to root_path do
      .btn.btn-cul{style: "display:flex; justify-content: center; background-color: #f6f9fc"}
        .h3{style: "Avenir Next Regular; font-size: 2em; align-self: center"}
          Au Hasard
  .div.cul{style: "flex:1"}
    =link_to chrono_path do
      .btn.btn-cul{style: "display:flex; justify-content: center; background-color: #FFF9C4"}
        .h3{style: "Avenir Next Regular; font-size: 2em; align-self: center"}
          Chronologique


=render "content"
