@import "bootstrap";

@font-face {
  font-family: "Avenir Next Bold";
  src: font-url('AvenirNext-Bold.woff') format("woff");
}

@font-face {
  font-family: "Avenir Next Regular";
  src: font-url('AvenirNext-Regular.woff') format("woff");
}

h1 {
  font-family: "Avenir Next Bold", sans-serif !important;
}

h3 {
  font-family: "Avenir Next Regular", sans-serif !important;
}

a {
  color: #040507;
  text-decoration: none;
}

.cul {
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}

.btn-cul {
  // width: 50%;
  height: 100px;
  font-family: "Avenir Next Bold", sans-serif;
  display: flex;
  justify-content: center;
}


.btn-cul:active, .btn-cul:hover {
  background-color: #FFF9C4;
}

.btn-cool{
  position: fixed;
  bottom: 2%;
  right: 5%;
  padding: 30px;
  a {
    color: #FFF !important;
    font-size: 2em;
    text-decoration: none;
  }
}
